.header {
  display: flex;
  background: white;
  height: 56px;
  align-items: center;
  border-bottom: 2px solid $grey-2;
  padding: 4px 32px;
}

.header .logo {
  font-weight: $font-weight-1;
  text-decoration: none;
  color: $grey-0;
}

.header .nav {
  margin-left: auto;
}

.header .nav__item {
  text-decoration: none;
}

.header .nav__item + .nav__item {
  margin-left: 16px;
}
