*::selection {
  background: rgba($grey-0, 0.99);
  color: white;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-size: 32px;
  line-height: 1.3;
  font-weight: $font-weight-1;
}

h2 {
  font-size: 26px;
  line-height: 1.3;
  font-weight: $font-weight-1;
}

h3 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: $font-weight-1;
}

a {
  color: $primary;
}

$selectors: (p, h1, h2, h3, article);

@each $parent_selector in $selectors {
  #{$parent_selector} {
    color: $grey-0;
  }

  @each $child_selector in $selectors {
    #{$parent_selector} + #{$child_selector} {
      margin-top: 16px;
    }
  }
}

$titles: (h1, h2, h3);
@each $title in $titles {
  #{$title} + p {
    margin-top: 24px;
  }

  p + #{$title} {
    margin-top: 32px;
  }
}
