$grey-0: hsl(240, 15%, 20%);
$grey-1: hsl(240, 3%, 60%);
$grey-2: hsl(240, 20%, 96%);

$primary: #2d57c2;

$font-weight-0: 400;
$font-weight-1: 600;

@import './reset.css';
@import './typography';
@import './header';
@import './footer';

body {
  font-family: system-ui;
  font-weight: $font-weight-0;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 24px;
}

.post-list {
  margin-top: 32px;
}

article {
  margin-top: 24px;
}

.article__date {
  display: block;
  margin-top: 32px;
  color: $grey-1;
}

.post-list__item {
  display: block;
  text-decoration: none;
  max-width: 560px;
  color: $grey-1;
}

.post-list__item +
.post-list__item {
  margin-top: 24px;
}

.post-list__title {
  @extend h3;
}

.post-list__date {
  display: block;
  margin-top: 8px;
}

.post-list__excerpt {
  color: $grey-0;
  margin-top: 8px;
}

.definition-list__title {
  text-transform: uppercase;
  font-weight: bold;
  color: $grey-2;
  font-size: 80px;
}

.definition-list__item {
  text-decoration: none;
}

.definition-list__item-title {
  line-height: 1.6;
}

pre {
  background: $grey-2;
  color: $grey-0;
  padding: 24px;
  box-sizing: border-box;
  width: calc(100% + 24px * 2);
  transform: translateX(-24px);
}

pre code {
  font-family: 'Roboto Mono';
  line-height: 1.5;
  font-size: 14px;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 24px 0;
}

code {
  background: $grey-2;
  padding: 4px 8px;
}

#disqus_thread {
  width: 100% !important;
  margin: 40px 0 !important;
}

sup {
  font-size: 75%;
  vertical-align: top;
}

sup a {
  text-decoration: none;
}

.footnote-backref {
  text-decoration: none;
  font-size: 12px;
}

.footnotes ol {
  list-style-type: decimal;
}

.footnotes li {
  font-size: 14px;
}

.footnotes li p {
  font-size: 14px;
}

.footnotes hr {
  margin-top: 32px;
}
